body {
  font-family: Arial, sans-serif;
  background-color: rgb(176, 176, 176);
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(220, 220, 220);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header img {
  max-width: 50%;
  height: auto;
}

.selectors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.selector-group {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.selector-group label {
  margin-bottom: 5px;
  font-size: 16px;
}

select,
input,
button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(55, 55, 55);
  color: rgb(255, 255, 255);
}

button {
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(85, 85, 85);
}

.build-orders-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.build-order-button {
  flex: 0 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(55, 55, 55);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.build-order-button:hover {
  background-color: rgb(85, 85, 85);
}

.build-order-button img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.build-order-name {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.filters input {
  flex-grow: 1;
  min-width: 200px;
}

.no-build-orders {
  text-align: center;
  font-size: 18px;
  color: rgb(102, 102, 102);
}

/* Media Query for mobile */
@media (max-width: 768px) {
  .build-orders-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .build-order-button {
    width: 100%;
    max-width: 100%;
  }
}